footer
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    height: 230px;
    width: 100%;

    padding-left: 25px;

    background-color: $dark-grey;
    color: white;

    & a
    {
        color: white;
    }

    & nav li 
    {
        padding-bottom: 15px;

        & i
        {
            padding-right: 12px;
        }
    }
}

#footer
{
    &__logo
    {
        height: 20px;
        width: 120px;        

        display: flex;
        flex-wrap: wrap;

        margin-bottom: 30px;
        margin-top: 30px;

        color: white;
    }
    
    & img
    {   
        height: 100%;
        width: 100%;
    
        object-fit: cover;
    
        color: white;
    }
}



