footer
{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;

    height: 230px;
    width: 100%;

    padding-left: 25px;

    background-color: $dark-grey;
    color: white;

    & a
    {
        color: white;
    }

    & nav li 
    {
        padding-bottom: 15px;

        & i
        {
            padding-right: 12px;
        }
    }
}

#footer
{
    &__logo
    {
        height: 20px;
        width: 120px;        

        display: flex;
        flex-wrap: wrap;

        margin-bottom: 30px;
        margin-top: 30px;

        color: white;
        fill: white;

        path
        {
            fill: #fff;
        }
    }
}
/*--------------------------------------------------[ Media Q 1024px ]--------------------------------------------------*/
@media screen and (min-width: 1024px)
{
    footer
    {
        order: 5;

        height: 90px;
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        & nav 
        {
            width: 75%;
        }

        & ul
        {
            height: 100%;

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            padding-top: 35px;
        }
    }

    #footer
    {
        &__logo
        {
            width: 20%;       
        }
    }
}
