/*--------------------------------------------------[ A la francaise HTML]--------------------------------------------------*/
#top-section
{
    position: relative;
}

#top-section__image
{
    height: 308px;
    width: 100%;

    z-index: 0;
}

#top-section__image img
{
    width: 100%;
    height: 100%;
    object-fit: cover;

    z-index: 0;
}

#top-section__text-area
{
    
    z-index: 3;
    position: absolute;
    border-radius: 40px 40px 0px 0px;
    width: 100%;
    height: 86px;
    background-color: $light-grey;
    bottom: 0px;

    

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

#top-section__text-area--title
{
    padding-right: 86px;
    font-size: xx-large;
}

#menu
{
    background-color: $light-grey;
    height: 1140px;
}




#display__button
{
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.entree__display
{
    opacity: 0;
    animation: loading-menu 3s 1 forwards;
}

.plat__display
{
    opacity: 0;
    animation: loading-menu 3s 1s 1 forwards;
}

.dessert__display
{
    opacity: 0;
    animation: loading-menu 3s 2s 1 forwards;
}