/*--------------------------------------------------[ A la francaise HTML]--------------------------------------------------*/
#top-section
{
    position: relative;

    &__image
    {
        height: 308px;
        width: 100%;
    
        z-index: 0;

        & img
        {   
            width: 100%;
            height: 100%;

            z-index: 0;

            object-fit: cover;            
        }
    }
}

#top-section
{
    &__text-area
    {
        width: 100%;
        height: 86px;

        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;

        position: absolute;
        bottom: 0px;

        z-index: 3;
        
        border-radius: 40px 40px 0px 0px;

        background-color: $light-grey;

        &--title
        {
            padding-right: 86px;
            font-size: xx-large;
        }
    }
}

#display__button
{
    display: flex;
    align-items: center;
    padding-top: 30px;
}

.entree__display
{
    opacity: 0;
    animation: loading-menu 3s 1 forwards;
}

.plat__display
{
    opacity: 0;
    animation: loading-menu 3s 1s 1 forwards;
}

.dessert__display
{
    opacity: 0;
    animation: loading-menu 3s 2s 1 forwards;
}