/*--------------------------------------------------[ Index HTML ]--------------------------------------------------*/
#restaurants
{   
    display: flex;
    flex-wrap: wrap;

    padding-left: 20px;
    padding-right: 20px;

    height: 1225px;
    width: 100%;

    background-color: $light-grey;
}

#main__wrapper
{
    z-index: 1;
}

#showcase-smarthpone
{
    width: 100%;
}

#restaurants h2
{
    height: 60px;
    width: 100%;
    margin-top: 60px;
}

#explications
{
    height: 440px;
    width: 100%;
}

#localisation
{
    height: 355px;
    width: 100%;

    & h2
    {
        opacity: 0;
    }
}



#localisation__input-area
{
    background-color: $grey;

    height: 50px;

    display: flex;
    flex-wrap: wrap;

    justify-content: center;
    align-items: center;
}

#input-area__location-dot 
{
    padding-right: 14px;
}

#input-area__input-bar
{
    background-color: $grey;
}



#localisation__text-area
{
    background-color: $light-grey;
    height: 305px;
    width: 100%;
    margin: auto;
}

@media screen and ( min-width: 451px)
{
    #localisation
    {
        height: 330px;
    }

    #localisation__text-area
    {
        height: 280px;
    }
}

@media screen and (min-width: 645px) 
{
    #localisation__text-area
    {
        height: 250px;
    }  
    
    #localisation
    {
        height: 300px;
    }
}


#text-area__main-text
{
    padding-top: 48px;
   
    width: 100%;
    height: fit-content;

    padding-left: 18%;
    padding-right: 25%;

 
    text-align: center;

    font-weight: 700;
    font-size: 700;
    
}

#text-area__sub-text
{
    padding-top: 25px;

    padding-left: 10%;
    padding-right: 15%;

    padding-bottom: 35px;

    text-align: center;
}

#explications h2
{
    padding-top: 50px;
    padding-bottom: 23px;
    padding-left: 21px;
}

#explications
{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}



@media screen and (min-width: 1024px)
{
    #main__wrapper 
    {
        display : flex;
        flex-wrap: wrap;
    }

    header
    {
        order: 1;
    }
    #localisation
    {
        order: 3;
        width: 50%;
        height: 440px;

        & h2
        {
            opacity: 1;
            padding-top: 50px;
            padding-bottom: 45px;
            padding-left: 50px;
        }

        &__text-area
        {
            background-color: white;
        }

        &__input-area
        {
            width: 80%;
            margin: auto;
            border-radius: 24px;
            height: 70px;

            #input-area__input-bar
            {
                font-weight: 700;
                font-size: x-large;
            }

            #input-area__location-dot
            {
                font-size: x-large;
                padding-right: 50px;
            }
        }
    }
    #explications
    {
        order: 2;
        width: 50%;
    }
    #restaurants
    {
        order: 4;
    }
    footer
    {
        display: flex;
        flex-direction: row;
        order: 5;
        height: 90px;

        & nav 
        {
            width: 90%;
        }

        & ul
        {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            align-items: center;
            height: 100%;
        }

    }









}