#main__wrapper
{
    z-index: 1;
}

header
{
    box-shadow: 0px 5px 5px #d4d3d3; 
}

#localisation
{
    height: 355px;
    width: 100%;

    & h2
    {
        display: none;
    }

    &__input-area
    {
        height: 50px;
    
        display: flex;
        flex-wrap: wrap;    
        justify-content: center;
        align-items: center;

        font-size: x-large;

        background-color: $grey;
    }

    &__text-area
    {
        height: 305px;
        width: 100%;
        margin: auto;

        background-color: $light-grey;
    }
}

#input-area
{
    &__location-dot
    {
        padding-right: 14px;
    } 
    
    &__input-bar
    {   
        background-color: $grey;    
    }
}

#text-area
{
    &__main-text
    {
        height: fit-content;
        width: 100%;

        padding-top: 48px;
        padding-left: 18%;
        padding-right: 18%;

        font-weight: 700;
        font-size: x-large;
        text-align: center;
    }

    &__sub-text
    {
        padding-top: 25px;
        padding-left: 10%;
        padding-right: 15%;
        padding-bottom: 35px;

        text-align: center;
    }
}


#explications
{
    height: 440px;
    width: 100%;
    
    display: flex;
    flex-wrap: wrap;

    & h2
    {
        padding-top: 50px;
        padding-bottom: 23px;
        padding-left: 21px;
    }
}

#showcase-smarthpone
{
    width: 100%;
}

#restaurants
{   
    height: 1225px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;

    padding-left: 20px;
    padding-right: 20px;

    background-color: $light-grey;

    & h2
    {
        height: 90px;
        width: 100%;

        padding-top: 65px;
    }
}

/*--------------------------------------------------[ Media Q 451px]--------------------------------------------------*/
@media screen and ( min-width: 451px)
{
    #localisation
    {
        height: 330px;
    }

    #localisation__text-area
    {
        height: 280px;
    }
}

/*--------------------------------------------------[ Media Q 654px]--------------------------------------------------*/
@media screen and (min-width: 645px) 
{
    #localisation__text-area
    {
        height: 250px;
    }  
    
    #localisation
    {
        height: 300px;
    }
}

/*--------------------------------------------------[ Media Q 1024px]--------------------------------------------------*/
@media screen and (min-width: 1024px)
{
    #main__wrapper 
    {
        display : flex;
        flex-wrap: wrap;
    }

    header
    {
        order: 1;
    }

    #localisation
    {
        order: 3;

        width: 50%;
        height: 440px;

        & h2
        {
            display: inline-block;

            padding-top: 50px;
            padding-bottom: 45px;
            padding-left: 50px;
        }

        &__text-area
        {
            background-color: white;
        }

        &__input-area
        {
            height: 70px;
            width: 80%;

            margin: auto;
            border-radius: 24px;
            
            #input-area__input-bar
            {
                font-weight: 700;
                font-size: x-large;
            }

            #input-area__location-dot
            {
                font-size: x-large;
                padding-right: 50px;
            }
        }
    }

    #explications
    {
        order: 2;

        width: 50%;
    }

    #restaurants
    {
        height: fit-content;
        order: 4;

        & h2
        {
            padding-top: 45px;
        }
    }

    footer
    {
        order: 5;

        height: 90px;
        width: 100%;

        display: flex;
        flex-wrap: wrap;
        flex-direction: row;

        & nav 
        {
            width: 75%;
        }

        & ul
        {
            height: 100%;

            display: flex;
            flex-direction: row;
            justify-content: space-around;
            
            padding-top: 35px;
        }
    }

    #footer
    {
        &__logo
        {
            width: 20%;       
        }
    }
}