#load-animation
{
  display: flex;

  align-items: center;
  justify-content: center;

  animation: loading-spiner 3s steps(1) forwards;
}

.loader
{
  height: 180px;
  width: 180px;

  &__spiner 
  {
    height: 45%;
    width: 60%;

    position: relative;
    top: 10%;
    left: 0;

    z-index: -1;

    border: 10px solid transparent;
    border-bottom: 10px solid $mint;
    border-radius: 50%;

    animation: loader $loader-timing infinite;
    animation-timing-function: linear;
  }
  
  &__pan 
  {
    width: 100%;

    display:flex;

    animation: pan $loader-timing infinite;
  }

  .pan
  {
    &__body
    {
      height: 20px;
      width: 60%;

      background: linear-gradient($pink, $purple);
      border-bottom-right-radius: 20px;
      border-bottom-left-radius: 20px;
    }

    &__handle
    {
      height: 10px;
      width: 40%;

      background: linear-gradient($pink, $purple);
      border-radius: 10px;
    }
  }

  &__shadow 
  {
    width: 30%;
    height: 8px;
    
    position: relative;
    top: 15%;
    left: 15%;

    background: $grey;
    border-radius: 20px;
    animation: shadow $loader-timing infinite;
  }
}