#menu
{
    background-color: $light-grey;
    height: 1140px;

    &__entree
    {
       height: 30%; 
    }

    &__plat
    {
        height: 30%;
    }

    &__dessert
    {
        height: 30%;
    }
}

#dessert__title
{   position: relative;

    padding-top: 35px;
    padding-bottom: 26px;
    padding-left: 21px;

    font-weight: lighter;
}

#plat__title
{
    position: relative;

    padding-top: 35px;
    padding-bottom: 26px;
    padding-left: 21px;
    
    font-weight: lighter;
}

#entree__title
{
    position: relative;

    padding-top: 18px;
    padding-bottom: 26px;
    padding-left: 21px;

    font-weight: lighter;
}

.underline
{
    width: 40px;

    position: absolute;
    top: 75%;  
    
    border: 2px solid $mint;   
}

.rectangle-display
{
    height: 68px;
    width: 90%;

    position: relative;
   
    margin-bottom: 14px;
    margin: auto;

    border-radius: 18px; 
    box-shadow: 0px 5px 15px $grey;
    background-color: white;

    & h3
    {
        width: fit-content;

        padding-top: 10px;
        padding-left: 10px;
        padding-bottom: 5px;
    }

    & .display__infos
    {
        width: fit-content;

        margin-right: 0px;
        padding-left: 10px;
    }

    & .display__price
    {
        position: absolute;
        right: 22px;
        bottom: 12px;
        
        font-weight: 700;
        
        transition: transform 420ms ease-in-out;
    }
    
    &:hover .display__price
    {
        transform: translate(-55px, 0);
    }

    &:hover .ordering-pop-up
    {
        transform: translate(-55px, 0);
        opacity: 1;
    }

    &:hover .ordering-pop-up__checked
    {
        transform: rotate(260deg);
    }

    &:hover h3
    {
        width: calc(100% - 120px);
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    &:hover .display__infos
    {
        width: calc(100% - 120px);
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }
}

 .ordering-pop-up
 {
    height: 68px;
    width: 55px;

    position: absolute;
    top: 0%;
    right: -55px;

    opacity: 0;

    background-color: $mint;
    border-radius: 0px 18px 18px 0px;
    
    transition: transform 330ms ease-in-out;

    &__dot
    {
        height: 25px;
        width: 25px;

        position: absolute;
        top: calc(70% - 25px);
        right: calc(70% - 25px);

        border-radius: 50px;
        background-color: white;
    }

    &__checked
    {
        position: absolute;
        top: calc(62% - 16px);
        right: calc(60% - 16px);
        
        color: $mint;

        rotate: 90deg;
        transition: transform 420ms ease-in-out;
    }
 }

 /*--------------------------------------------------[ Media Q 1024px ]--------------------------------------------------*/

 @media screen and (min-width: 1024px)
 {
    .rectangle-display
    {
        height: 68px;
        width: 110%;

        margin: auto;
        margin-bottom: 14px;

        position: relative;

        border-radius: 18px;
        box-shadow: 0px 5px 15px $grey;

        & h3
        {
            width: 80%;

            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }

        & .display__infos
        {
            width: 80%;

            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;
        }
    }

    #menu
    {
        &__entree
        {
            height: auto;
            width: 26%;
        }
        &__plat
        {
            height: auto;
            width: 28%;
        }
        &__dessert
        {
            height: auto;
            width: 28%;
        }
    }

    #entree__title
    {
        padding-top: 10px;
    }

    #plat__title
    {
        padding-top: 10px;
    }

    #dessert__title
    {   
        padding-top: 10px;
    }

    .underline
    {
        width: 40px;

        position: absolute;
        top: 68%;  

        border: 2px solid $mint;
    }
}
