.submit-button
{
    height: 50px;
    width: 58%;
   
    display: block;

    margin: auto;
    margin-bottom: 85px;
    
    border-radius: 30px;
    box-shadow: 0px 7px 15px rgb(206, 206, 206);

    font-size: 15px;
       
    color: white;
    background-color: $purple;
    background: linear-gradient(173deg, $pink 5%, $purple 90%);

    transition: box-shadow 300ms ease-in-out;

    &:hover
    {
        cursor: pointer;
        box-shadow: 0px 12px 15px rgb(190, 190, 190);
    }
}

