/*--------------------------------------------------[ Colors ]--------------------------------------------------*/

$purple: #9356DC;
$pink: #FF79DA;
$mint: #99E2D0;
$dark-mint: rgb(19, 146, 115);
$grey: rgb(234, 234, 234);
$light-grey: rgb(246, 246, 246);
$dark-grey: rgb(53, 53, 53);
$medium-grey: rgb(126,126,126);
