/*--------------------------------------------------[ Colors ]--------------------------------------------------*/

$purple: #9356DC;
$pink: #FF79DA;
$mint: #99E2D0;
$grey: rgb(234, 234, 234);
$light-grey: rgb(246, 246, 246);
$dark-grey: rgb(53, 53, 53);